* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "iransanse";
    src: url(font/iranyekanwebregularfanum.ttf);
}

/* if portrait */
/* @page {
    size: A4 portrait;
} */
/* if lanscape */
@page {
    size: A4 portrait;
    margin: 0;
}

body {
    text-align: start;
    line-height: normal;
    font-weight: normal;
}

.mainPDF {
    box-sizing: border-box;
    font-size: 9px;
    font-family: "iransanse";
    background-color: #fff;
}

.overflow-hidden {
    overflow: hidden;
}

.mainPDF * {
    font-family: "iransanse";
    direction: rtl;
}

.d-flex {
    display: flex !important;
}

.w-10mm {
    width: 10mm;
}

body {
    box-sizing: border-box;
    font-family: "iransanse";
    background-color: #fff;
    direction: rtl;
}

.land {
    margin: auto;
    display: block;
    width: 296mm;
    height: 205mm;
    padding: 3mm;
    background-color: white;
}

.portrate {
    margin: auto;
    display: block;
    width: 205mm;
    height: 295mm;
    padding: 6mm;
    background-color: white;
    overflow: hidden;
}

.m-auto {
    margin: auto;
}

.holder {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    display: flex;
}

.holder_left {
    width: 97%;
    border: 1px solid #000;
}

.holder_right {
    width: 3%;
    border: 1px solid #000;
    border-bottom: none;
}

.rotate {
    position: absolute;
    transform: rotate(90deg);
    width: calc(100vw - 67mm);
    height: 6mm;
}

.conti {
    margin-top: 1mm;
}

.conti_span {
    margin-bottom: 1mm;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    margin-right: 2mm;
}

.mainPDF .end td {
    border-bottom: none;
    border-top: none;
}

.mainPDF .end {
    border-bottom: 1px solid #000;
}

.mainPDF th,
.mainPDF td {
    border: 1px solid black;
    padding: 0 5px 0 0;
}

.mainPDF table,
.mainPDF thead,
.mainPDF td {
    font-weight: 100;
    font-size: 8px;
    padding: 0.4mm;
}

.mainPDF table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

.mainPDF table.header_table {
    width: 100%;
    height: 32mm;
}

.mainPDF table thead img {
    width: 90%;
}

.mainPDF .portrate table thead img {
    width: 25mm;
}

.mainPDF .portrate table thead img[alt~="EIED"] {
    width: 17mm;
}

.mainPDF .land table thead img {
    width: 30mm;
}

.mainPDF .land table thead img[alt~="EIED"] {
    width: 17mm;
}

.mainPDF .land table.body {
    margin-top: 3mm;
    /* border: 3px solid black;
    border-top: 1px solid black; */
}

.mainPDF .footerbox {
    display: flex;
    justify-content: space-between;
}

.mainPDF .footerbox:first-child {
    margin-right: 4mm;
}

.mainPDF ._tikbox {
    width: 4mm;
    height: 4mm;
    background: #ffffff;
    display: inline-block;
    vertical-align: middle;
    /* border: 1px solid #000; */
    margin-left: 0.5mm;
}

.mainPDF ._tikbox svg {
    width: 100%;
    height: 100%;
    fill: #242424;
}

.mainPDF .roteated {
    width: 6mm;
    height: 100%;
    line-height: 5mm;
    position: relative;
}

.mainPDF .roteated span {
    transform: rotate(-90deg);
    display: block;
    width: 88mm;
    direction: rtl;
    line-height: 8mm;
    position: absolute;
    top: 158mm;
    left: -41mm;
    white-space: nowrap;
}

.mainPDF .roteated span.a {
    left: -39mm;
}

.mainPDF .tikbox.active {
    background: #388809;
}

.mainPDF .margin6 {
    margin: 6mm;
}

.mainPDF .p1 {
    padding: 1mm;
}

.mainPDF .flwr {
    display: flex;
    flex-wrap: wrap;
}

.mainPDF .f8 {
    font-size: 8px;
}

.mainPDF .f12 {
    font-size: 12px;
}

.mainPDF .f16 {
    font-size: 14px;
    font-weight: 700;
}

.mainPDF .tealc {
    text-align: center;
    padding: 0;
    margin: 0 -6mm 0 -8mm;
    border-bottom: 1px solid #000;
}

.mainPDF .p0 {
    padding: 0;
}

.mainPDF .p1 {
    padding: 1mm;
}

.mainPDF .space {
    border-left: white 2px solid;
    border-right: white 2px solid;
}

.mainPDF .no_BR {
    border-right: none;
}

.mainPDF .no_BL {
    border-left: none;
}

.mainPDF .no_BTB {
    border-top: none;
    border-bottom: none;
}

.mainPDF .no_BB {
    border-bottom: none;
}

.mainPDF .no_BT {
    border-top: none;
}

.mainPDF .backd {
    background-color: rgb(199 199 199);
}

.mainPDF .dl {
    direction: ltr;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.mainPDF .dr {
    direction: rtl;
}

.w100 {
    width: 100%;
}

.mainPDF .wss {
    width: 8mm;
}

.ws {
    width: 13mm;
}

.wm {
    width: 20mm;
}

.wmm {
    width: 23mm;
}

.wls {
    width: 29.5mm;
}

.wlss {
    width: 40mm;
}

.wl {
    width: 50mm;
}

.wlm {
    width: 70mm;
}

.wll {
    width: 80mm;
}

.wlll {
    width: 100mm;
}

.wlx {
    width: 170mm;
}

.hsss {
    height: 6mm;
}

.hsss_ {
    height: 7.5mm;
}

.hss {
    height: 9mm;
}

.hs {
    height: 18mm;
}

.hm {
    height: 18mm !important;
}

.hl {
    height: 23mm;
}

.hal {
    height: 20mm !important;
}

.hll {
    height: 40mm !important;
}

.hlll {
    height: 80mm;
}

.hlx {
    height: 200mm;
}

.hlxx {
    height: 220mm;
}

.fss {
    font-size: 10px;
}

.fs {
    font-size: 12px;
}

.fm {
    font-size: 14px;
}

.fl {
    font-size: 18px;
}

.fll {
    font-size: 20;
}

.flll {
    font-size: 22;
}

.b {
    font-weight: 700;
}

.nob {
    font-weight: 300;
}

.starttop {
    padding-top: 1px;
    vertical-align: top;
}

.border {
    border: 2px solid #000;
}

.conti {
    margin-top: 0.4mm !important;
}

.conti_span {
    margin-bottom: 1mm;
    display: inline-block;
    font-weight: 600;
    font-size: 10.4px !important;
    margin-right: 2mm;
}

.padR {
    padding-right: 20mm;
    margin-bottom: 2mm;
}

.padRk {
    padding-right: 7mm;
    margin-bottom: 4mm;
}

.halk {
    height: 40mm;
}

.halxx {
    height: 60mm;
}

.roteated5 {
    width: 6mm;
    height: 100%;
    line-height: 5mm;
    position: relative;
}

.roteated5 span {
    transform: rotate(-90deg);
    display: block;
    width: 105mm;
    direction: rtl;
    line-height: 8mm;
    position: absolute;
    top: 132mm;
    left: -56mm;
}

._sign td img {
    height: 3cm;
    object-fit: contain;
}

.d-inline-block {
    display: inline-block;
}

.w-50 {
    width: 50%;
}

.mainPDF .bt {
    border-top: 1px solid !important;
}

.mainPDF .link-document {
    margin: 0.1mm 0.3mm;
    max-width: 100%;
    display: inline-block;
}

.mr-1 {
    margin-right: 0.1em;
}

.ml-1 {
    margin-left: 0.1em;
}

.mr-2 {
    margin-right: 0.3em;
}

.ml-2 {
    margin-left: 0.3em;
}

.mainPDF span.value {
    font-weight: bold;
}

.mainPDF p.value {
    padding-top: 2mm;
    padding-right: 2mm;
}

.sign-text {
    font-size: 9px;
    text-align: right;
    margin-top: 1mm;
    margin-bottom: 1mm;
}

.tableTikBox {
    padding: 0;
    white-space: nowrap;
}

.crisp-client {
    display: none;
}

.mainPDF .sign span.end.d-flex {
    text-align: center;
    justify-content: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.__sign {
    position: absolute;
    bottom: 4mm;
    left: 8mm;
    right: 6mm;
    border-top: 1px solid;
}

.___mainSign {
    padding: 3mm 6mm 2mm 8mm;
    height: calc(100% - 38mm);
    position: relative;
    /* padding-bottom: 46mm; */
}

.he35 {
    height: 35mm;
}

.he30 {
    height: 30mm;
}

.sign_item {
    padding: 0;
    vertical-align: top;
    padding-top: 2mm;
}

.sign_item .image_sign {
    width: 25mm;
    height: 20mm;
    display: flex;
    padding: 1mm;
}

.pb_1mm {
    padding-bottom: 1mm;
}

.position-relative {
    position: relative !important;
}

.flex-custome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pt-1mm {
    padding-top: 1mm;
}

.desc {
    min-height: 26mm;
}

.little-font {
    font-size: 9.5px;
}

.font-8 {
    font-size: 8px;
}

.font-6 {
    font-size: 6px;
}

.bt-none {
    border-top: none;
}

.h-auto {
    height: auto;
}

.mx-1 {
    margin: 0.65mm 0;
}

.mx-2 {
    margin: 1mm 0 !important;
}

.review_result {
    height: 6.5mm;
}

.review_result td {
    width: 33.333%;
}

._base_line {
    vertical-align: baseline;
}

.rotate_text_textarea {
    position: absolute;
    right: -23mm;
    transform: rotate(-90deg);
    height: 5mm;
    font-size: 8px;
    /* bottom: 15mm; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40mm;
}

.tree_dots {
    overflow: hidden;
    width: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.white-space {
    white-space: nowrap;
}

.rotate-180 {
    transform: rotate(180deg);
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-1 {
    margin-top: 1mm;
}

.px-2 {
    padding-right: 2mm !important;
    padding-left: 2mm !important;
}

.firstLoading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
}

.firstLoading .image-firstLoading {
    width: 100%;
}

.firstLoading .image-firstLoading img {
    width: 100%;
    object-fit: contain;
}

.firstLoading .firstLoading-Rotation {
    width: 4em !important;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstLoading .firstLoading-Rotation svg {
    width: 3em;
    height: 3em;
}

.firstLoading .firstLoading-Rotation svg path {
    fill: #000 !important;
}

.col-10 {
    width: 80%;
}

.m-0 {
    margin: 0 !important;
}

@media (max-width: 768px) {
    .col-lg-4 {
        width: 33.3333%;
    }
}

@media (min-width: 1200px) {
    .col-xl-3 {
        width: 25%;
    }
}

.gray-color {
    color: #b1b2b6;
}